<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="bodybackground">
  {% if user.is_authenticated %}
  <div class="container-fluid">
    <div class="row vert">
      <div class="col-sm-2">
      <nav class="navbar sticky-top navmenu h-100  flex-column navbar-dark bg-dark">
        <ul class="nav-pills w-100" >
          {% if user.is_authenticated %}
          <div class="card bg-dark mb-3" >
            <div class="card-header">
              <h5 class="card-title"></h5>{{ user.get_username }}</h5>
            </div>
            <div class="card-body">              
              <a href="{% url 'login' %}" class="btn btn-primary bg-secondary">Выход</a>
              <li class="nav-item"><a href="http://localhost:8080/admin/">админка</a></li>
            </div>
          </div>
          {% endif %} 
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'index' %}active{% endif %}"
            href="{% url 'index' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'workplace' %}active{% endif %}"
            href="{% url 'workplace' %}">Раб. место</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'employee' %}active{% endif %}"
            href="{% url 'employee' %}">Сотрудники</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.view_name == 'software' %}active{% endif %}"
            href="{% url 'software' %}">СОФТ</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == 'workstation' %}active{% endif %}"
            href="{% url 'workstation' %}">Раб. станция</a>
          </li> 
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == '#systemInfo' %}active{% endif %}"
            href="#systemInfo">Информация о системе</a>
          </li> 
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == 'pk#infoEmployee' %}active{% endif %}"
            href="#infoEmployee">Информация о сотруднике</a>
          </li> 
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == '#configuration' %}active{% endif %}"
            href="#configuration">Конфигурация системы</a>
          </li> 
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == '#monitor' %}active{% endif %}"
            href="#monitor">Монитор</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link {% if request.resolver_match.view_name == '#motherboard' %}active{% endif %}"
            href="#motherboard">Материнская плата</a>
          </li>
         
            <a  class="nav-link {% if request.resolver_match.view_name == '#systemInfo' %}active{% endif %}"
            href="#systemInfo">
            <div class="maxheight">
              
            </div>  
            </a>

        </ul>
        <nav class="navbar sticky-bottom navbar-secondary bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Наверх</a>
          </div>
        </nav>
      </nav>
      </div>
    <div class="col-sm-10 ">
      {% block content %}{% endblock %}
    </div>
  </div>

  
  {% else %}
      <meta http-equiv="refresh" content="0; URL={% url 'login' %}">
  {% endif %} 
</body>
</html>