{% extends "base_generic.html" %}

{% block content %}
  <div class="col-sm-10"> 
    <h1 style="text-align:center" >Список сотрудников</h1>

    {% if employee_list %}
    <table class="table_list">
        <th class="table_head">ФИО</th>
        <th class="table_head">Раб. место</th>
        <th class="table_head">Должность</th>
        <th class="table_head">Отдел</th>
        <th class="table_head">Кабинет</th>
        <th class="table_head">Этаж</th>
        <th class="table_head">Здание</th>
      <!--<th class="table_head">Количество рабочих мест</th>
      <th class="table_head">Количество сотрудников</th> -->

    {% for Employee in employee_list %}
    <tbody class="table_tbody">
    <tr>
    <td class="table_column_list">
        {{ Employee.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.Workplace.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.post.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.departament.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.Room.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.Room.Floor.name }} </a>
    </td>
    <td class="table_column_list">
        {{ Employee.Room.Floor.Building.name }}</a>
    </td>
    <!--<td>
      {{ num_workplaceys.Room }}</a>
    </td> 
    <td>
      {{ Room.num_employeyes }}</a>
    </td>     -->
    {% endfor %}
    </tr>
    </tbody>
    </table>

    {% else %}
      <p>Нет зданий.</p>
    {% endif %}
  </div>  
{% endblock %}