{% extends "base_generic.html" %}

{% block content %}
  <div class="col-sm-12"> 
    <h1 style="text-align:center" >Список сотрудников</h1>

    {% if employee_list %}
    <table class="table_list">
        <th class="table_head">ФИО</th>
        <th class="table_head">Раб. место</th>
        <th class="table_head">Должность</th>
        <th class="table_head">Отдел</th>
        <th class="table_head">Кабинет</th>
        <th class="table_head">Этаж</th>
        <th class="table_head">Здание</th>

    {% for Employee in employee_list %}
    <tbody class="table_tbody">
    <tr>
    <td class="table_column_list">
        {{ Employee.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.Workplace.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.post.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.departament.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.Workplace.Room.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.Workplace.Room.Floor.name }} 
    </td>
    <td class="table_column_list">
        {{ Employee.Workplace.Room.Floor.Building.name }}
    </td>

    {% endfor %}
    </tr>
    </tbody>
    </table>

    {% else %}
      <p>Нет зданий.</p>
    {% endif %}
  </div>  
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %} 