{% extends "base_generic.html" %}

{% block content %}
  <div class="col-sm-10"> 
    <h1 style="text-align:center" >Список кабинетов</h1>

    {% if room_list %}
    <table class="table_list">
      <th class="table_head">Кабинет</th>
      <th class="table_head">Этаж</th>
      <th class="table_head">Здание</th>

    {% for Room in room_list %}
    <tr>
    <td class="table_column_list">
      {{ Room.name }}
    </td>
    <td class="table_column_list">
      {{ Room.Floor.name }} 
    </td>
    <td class="table_column_list">
      {{ Room.Floor.Building.name }}
    </td>

    {% endfor %}
    </tr>
    </table>

    {% else %}
      <p>Нет зданий.</p>
    {% endif %}
  </div>  
{% endblock %}